html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 10px;
    background-color:whitesmoke
}

.card-header {
  cursor: pointer;
}

#footer {
  background-color: #DFE2DB;
  position:absolute;
  bottom:0;
  left: 0;
  width:100%;
  border-top: 1px solid;
  font-size: smaller;
  height: 20px;
  overflow:hidden;

}

.assignmentList {
  text-align: center;
}

.resourceList li{
  list-style-type: none;
} 

.resourceList {
  text-align: left; 
}

.resourceList li div span {
  padding-left:1em;
}

.addAssignmentFormLabel {
  margin-right:10px;
}

.homieTitle {
  color: #1e5f85;
  text-align: center;
}

.courseActions {
  cursor: pointer;
  padding-right: 4px;
}

.clickable {
  cursor: pointer;
}


.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.toggle-wrapper {
  margin: 0.5em auto;
}

.toggle-wrapper label {
  padding: 0.3em;
  font-size: 17px;
  display: block;
}

.toggleContainer {
  width: 100%;
  position: relative;
  background: #ffffff;
  border: 1px solid #eeeeee;

}

.toggleContainer .toggleOption {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: #807b77;
  font-size: 1em;

}

.toggleContainer .toggleOption.selected {
  color: #ffffff;
  cursor: initial;
}

.toggleContainer .toggle {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  background: #0275d8;
}

.assignment_card {
  border-radius: 46px;
}

.assignment_card > .card_assignment_header {
  border-radius: 26px;
}

a.noStyle {
  color: black;
  text-decoration: none;
}

.homieWhite {
  color : #F0FFFF;
}