html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 10px;
    background-color:whitesmoke
    /* bottom = footer height */

}

.card-header {
  cursor: pointer;
}

#footer {
  background-color: #DFE2DB;
  position:absolute;
  bottom:0;
  left: 0;
  width:100%;
  border-top: 1px solid;
  font-size: smaller;
  height: 20px;
  overflow:hidden;

}

.assignmentList {
  text-align: center;
}

.resourceList li{
  list-style-type: none;
}

